{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>Current P4 Coloring</title>
      <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
      <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
  
	<style type="text/css">

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var map = {
				item: "A1",
				lastClicked: null,
				filePath: '/static/draw/vendor/images/SimpleMap.svg'
			};

            var url = window.location.href;
            var queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);

            const size = urlParams.get('size');
            const building = urlParams.get('building');


            function myCustomInteraction(uid, value) {
                var tool = new paper.Tool();

                tool.minDistance = 2;
                var path;
                window.onload = function () {
                    //manipulate query string to get what building we are in
                    map.item = building;
                    console.log("what is map.item: " + map.item);
                    map.item.fillColor = float2color(1-buildingGroups.get(building)/total());//some function that counts how many people are present;
                    path.strokeWidth = brushsize;
                }
            }


			function init(custom){
				paper.setup(canvas);

				paper.project.importSVG(map.filePath, function(item) {
					// map.item = item._children["design-freepik"];
				    // paper.project.insertLayer(0,map.item);
                   
                     var _currentFill = "#f00"; // red
                    // $svg = $("#SimpleMap");
                    console.log("What is map.item: " + map.item);
                    map.item.fillColor= _currentFill;
                    
				    if (custom) {
				    	myCustomInteraction();
				    } else {
				    	myGradientInteraction();
				    }

				});
			}

			// Set up the map interactivity.
			init(true);
		}
	</script>
</head>
<body>

	<canvas id="myCanvas" width="750px" height="750px"></canvas>
    <h1>hello</h1>
</body>
</html>
