{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>
    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>

    <section class="large">
        Hello
    </section>
    <section class="small">
        Hello
    </section>
</body>
<script>
    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    
    // map page
    var map = {
        item: null,
        lastClicked: null,
        filePath: '/static/draw/vendor/images/SimpleMap.svg'
    };      
    
    var uid = Date.now() % 10000; //giving each particpant and id

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);

    const size = urlParams.get('size')
    const building = urlParams.get('building')

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');
    
    function init(custom){
        paper.setup(canvas);

        paper.project.importSVG(map.filePath, function(item) {
            map.item = item._children["design-freepik"];
            paper.project.insertLayer(0,mandala.item);
            myCustomInteraction();
        });
        myCustomInteraction();
        const buildingGroups = new Map();
        buildingGroups.set("A1", 1); 
        buildingGroups.set("A2", 3);  
        buildingGroups.set("B1", 4);  
        buildingGroups.set("B2", 2); 
        buildingGroups.set("B3", 1); 
        if (building){
            var updatedvalue = buildingGroups.get(building)+1;
            buildingGroups.set(building, updatedvalue);
        }
    }

    function float2color( percentage ) {
        var color_part_dec = 255 * percentage;
        var color_part_hex = Number(parseInt( color_part_dec , 10)).toString(16);
        return "#" + color_part_hex + color_part_hex + color_part_hex;
    }

    function total( buildingMaps ) {
        var totalsum = 0;
        for (let [key, value] of buildingMaps){
            totalsum += value;
        }
        return totalsum;
    }


    function myCustomInteraction(uid, value) {
        var tool = new paper.Tool();

        tool.minDistance = 2;
        var path;
        window.onload = function () {
            
            //manipulate query string to get what building we are in
            map.item = building;
            console.log("what is map.item: " + map.item);
            map.item.fillColor = float2color(1-buildingGroups.get(building)/total());//some function that counts how many people are present;
            path.strokeWidth = brushsize;
        }
    }


    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        console.log("Received: " + JSON.stringify(received));
        for (let [key, value] of users){
            if (size == "large"){
                    myCustomInteraction(received.uid, received.value);
                }
            }
        }
        // You will probably want to add some code here to draw more lines.

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>

</html>



